<h2>About Getty Images</h2>

<dl>
	<dt>A pioneer in digital media</dt>

	<dd><p>In 1995, Mark Getty and Jonathan Klein founded Getty Images to bring the fragmented stock photography business into the digital age. And that's exactly what they did. We were the first company to license imagery online - and have continued to drive the industry forward with breakthrough licensing models, digital media management tools and a comprehensive offering of creative and editorial imagery, microstock, footage and music.</p></dd>

	<dt>Bringing creative ideas to life</dt>

	<dd>

		<p> Today's digital media offers us powerful and seemingly endless ways to
		create, communicate and connect. And while quick online access to images,
		footage and music may be second nature to us now, just a decade ago it was
		almost unimaginable.  </p>

		<p> As a leading creator and distributor of still imagery, footage, music
		and other premium content, our goal is to inspire communicators - and give
		them the tools to create inspiring work of their own.</p>

		<p>We offer the industry's best and broadest collections of imagery and
		footage - including award-winning news, sport and entertainment content,
		plus rare and contemporary archival imagery. Our music collection provides
		a wide range of pre-cleared tracks from independent artists, chart-topping
		acts and popular soundtracks.</p>

		<p>From multi-million-dollar advertisers to leading newspapers, feature
		film and television producers to bloggers of all kinds - for premium
		digital content, the world's most influential media look to
		gettyimages.com</p>
	</dd>

	<br/>
</dl>

<p>
  <a href="mailto:api@gettyimages.com">Contact Us</a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <a href="http://www.gettyimages.com/platformextensionterms" target="_getty">Terms and Conditions</a>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
	<a href="http://www.gettyimages.com/helpcenter#faq22" target="_getty">Learn more about Embeddable Images</a>
</p>

