/* Main getty images container */
.getty-images-frame {
  position: fixed;
  z-index: 7000;
  top: 80px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fff;
  border: 1px solid #dadada;
  font-family: "Helvetica Neueu", Helvetica, sans-serif;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 2px 1px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 2px 1px 4px rgba(0, 0, 0, .2);
  font-size: 13px;
}

.getty-images-frame p {
  margin: 1em 0;
  line-height: 1.5em;
}

.getty-images-frame table {
  margin: 0;
  padding: 0;
}

.getty-images-frame h3,
.getty-images-frame label.header {
  margin: 1em 0 .25em;
  padding: .25em;
  border-bottom: 1px solid #dfdfdf;
  color: #888;
  font-size: 140%;
  font-style: italic;
  font-weight: normal;
  text-shadow: 1px 1px 2px rgba(0,0,0,.25);
}

.getty-images-frame dl {
  margin: 1em 0;
}
.getty-images-frame ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.getty-images-frame li {
  margin: 0 .25em;
}

.getty-images-frame .getty-text-input {
  font-size: 14px;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  line-height: 22px;
  height: 30px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
  width: 100%;
  max-width: none !important;
  padding: 0 5px;
}

/* Generic button styles */
.getty-images-frame button,
.getty-images-frame input[type="submit"],
.getty-images-frame input[type="button"] {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  height: 30px;
  padding: 0 12px 2px;
  border: 1px solid #cccccc;
  background: #f7f7f7;
  color: #555;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 #e8e8e8, 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 0 #e8e8e8, 0 1px 0 rgba(0, 0, 0, 0.15);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1) !important;
  cursor: pointer;
}
.getty-images-frame button.button-primary,
.getty-images-frame input[type="button"].button-primary,
.getty-images-frame input[type="submit"].button-primary {
  border: 1px solid #0074a2;
  background: #2ea2cc;
  color: #ffffff;
}

.getty-images-frame button.disabled,
.getty-images-frame input[type="button"].disabled,
.getty-images-frame button[disabled="disabled"],
.getty-images-frame input[disabled="disabled"] {
  cursor: default;
  text-shadow: none !important;
  color: #cfd1c7;
}

/* Title bar */
.getty-title-bar {
  position: relative;
  z-index: 20;
  height: 50px;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 4px 4px -4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 4px 4px -4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 4px 4px -4px;
}
.getty-title-bar .getty-images-title {
  overflow: hidden;
  background: url(http://developers.gettyimages.com/images/drupal/getty-logo.png) no-repeat center;
  margin: 0;
  padding: 0 8px;
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  text-indent: -99999px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .getty-title-bar h1 {
    background-image: url(http://developers.gettyimages.com/images/drupal/getty-logo-2x.png);
    background-size: auto 30px;
  }
}

.getty-title-bar .getty-title-links {
  position: relative;
  line-height: 45px;
  float: right;
  margin-right: 40px;
  height: 100%;
}
.getty-title-links .getty-title-link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 0 .5em;
}
.getty-title-links .getty-login-toggle.getty-logged-in {
  font-weight: bold;
}

/* Hide log in for unsupported browsers */
.getty-unsupported-browser .getty-login-toggle {
  display: none;
}

/* Close button */
.getty-title-links .getty-close-link {
  color: #000;
  font-size: 1.5em;
  position: absolute;
  right: -35px;
  top: 0;
}

/* Content/Browser container */
.getty-images-content {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50px;
  bottom: 60px;
  right: 0;
}

/* Unsupported Browser messaging */
.getty-unsupported-browser-message {
  padding: 2em;
}

/* About screen */
.getty-about-text {
  position: relative;
  padding: 1em 2.5em;
}
.getty-about-text h2 {
  color: #444;
}
.getty-about-text .getty-about-close-x {
  width: 11px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: url(images/x.png) no-repeat right;
  text-indent: 11px;
  overflow: hidden;
  cursor: pointer;
}
.getty-about-text p {
  text-indent: .5em;
}
.getty-about-text dt {
  font-weight: bold;
  font-size: 1.2em;
}
.getty-about-text dd {
  padding: .5em;
  margin: .5em;
}

/* Sidebar */
.getty-sidebar-container {
  background: #f5f5f5;
  border-left: 1px solid #dfdfdf;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 15;
}
@media screen and (max-width: 900px) {
  .getty-sidebar-container {
    width: 159px;
  }
}
.getty-sidebar {
  padding: 0 8px;
  max-height: 100%;
  overflow: auto;
}
.getty-sidebar .media-sidebar {
  padding: 0;
  position: static;
  background: transparent;
  border: none;
}
.getty-sidebar-details {
  padding: 0 10px;
  height: 100%;
}
.getty-sidebar .getty-attachment-display-settings {
  float: none;
}
.getty-sidebar .getty-display-settings label span {
  display: inline-block;
  min-width: 8em;
}
.getty-sidebar .getty-display-setting {
  margin: .5em 0;
}
.getty-display-setting input,
.getty-display-setting textarea {
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .1);
  width: 100%;
}

/* Login panel */
.getty-spinner {
  display: block;
  width: 24px;
  height: 24px;
}
.getty-images-login .getty-spinner {
  position: absolute;
  right: 0;
  top: 0;
}
.getty-images-login .forgot {
  margin-bottom: 0.5em;
  color: #777;
  font-size: .9em;
}
.getty-images-login .error-message {
  height: 1.5em;
  line-height: 1.5em;
  color: red;
  padding: .5em 0;
}
.getty-images-login .getty-login-submit {
  clear: both;
  height: 24px;
  position: relative;
}
.getty-login-submit .getty-login-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 24px;
}

.getty-images-login .getty-close-login {
  width: 11px;
  height: 11px;
  display: block;
  float: right;
  clear: both;
  margin-bottom: 11px;
  background: url(images/x.png) no-repeat right;
  text-indent: 11px;
  overflow: hidden;
  cursor: pointer;
}
.getty-images-login .getty-login-password,
.getty-images-login .getty-login-username {
  text-align: right;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .getty-images-login .getty-close-login {
    background: url(images/x-2x.png) no-repeat right;
    background-size: 10px 10px;
  }
}

.getty-login-button {
  position: relative;
}

/* Getty Browser */
.getty-attachments-browser,
.getty-browser-container {
  height: 100%;
}
.getty-attachments-browser {
  padding-right: 300px;
  width: auto;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .getty-attachments-browser {
    padding-right: 159px;
  }
}

.getty-attachments-browser .getty-search-toolbar {
  padding: 10px 5px 0;
  position: relative;
  height: auto;
}
.getty-images-selection {
  height: 100%;
}
.getty-images-selection .getty-image-synopsis {
  display: none;
}
.getty-images-selection .getty-attachments {
  float: left;
  width: 100%;
  max-height: 100%;
}
.getty-images-selection .getty-attachment {
  padding-bottom: 0;
  margin: 10px 7px;
}

.getty-browser-body {
  height: 100%;
  padding: 0;
  padding-top: 1px;
}

.getty-attachments-browser .getty-browser-flex-container {
  border-collapse: collapse;
  border: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  margin: 0;
}
.getty-search-spinner {
  display: none;
}
.no-more.search-loading .getty-search-spinner {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #fff;
  background: rgba(255,255,255,.8);
}
.getty-attachments-browser .getty-browser {
  position: relative;
  height: 100%;
}
.getty-attachments-browser .getty-results {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: left 0.4s;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.getty-results .getty-attachments {
  margin: 0;
  padding: 0;
  height: 100%;
  top: 0;
  left: 0;
}
.getty-results .getty-attachments::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.getty-results .getty-attachments::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.getty-results .getty-images-more {
  display: none;
}
.have-more .getty-images-more {
  display: block;
  position: relative;
}
.getty-images-more .getty-attachment-preview {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 2em;
  color: #888;
}
.getty-images-more .getty-more-text-container {
  line-height: 1.3;
  position: relative;
  z-index: 2;
}
.getty-images-more .getty-more-spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.getty-images-more .getty-number-remaining {
  font-weight: bold;
  font-size: 1.2em;
  color: #444;
  display: block;
}
.getty-images-more .getty-more-text {
  font-weight: bold;
  font-size: 1.1em;
  color: #888;
  display: block;
}

/* Browser refinement panel */
.getty-refine {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0; /* This flexes with .getty-results */
  transition: width 0.4s;
  background-color: #f5f5f5;
}
.getty-refine .search-results-refine {
  position: absolute;
  /* Leave room for scrollbar */
  padding: 0 12px 0 .5em;
  box-sizing: border-box;
  width: 200px;
  left: 0;
  top: 0;
}
.getty-refine .search-refine {
  width: 100%;
  margin: 0;
}
.getty-refine::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.getty-refine::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.have-refinements.refining .getty-refine {
  border-right: 1px solid #dfdfdf;
  width: 200px;
}
.have-refinements.refining .getty-results {
  left: 200px;
}

/* Refinements */
.getty-active-refinements {
  padding-left: .75em;
}
.getty-refinement-category .getty-refinement-category-name {
  display: block;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  margin-bottom: 2px;
  padding: 2px 12px 1px 3px;
}
.getty-refinement-category-name:hover {
  background-color: #ffffff;
  outline: 1px solid #f0f0f0;
}
.getty-refinement-category-name .getty-refinement-category-arrow {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 2px;
  top: 4px;
  background-image: url(images/arrows-small.png);
  background-position: -36px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .getty-refinement-category-name .getty-refinement-category-arrow {
    background-image: url(images/arrows-small-2x.png);
    background-size: 48px auto;
  }
}
.expanded .getty-refinement-category-arrow {
  background-position: 0 0;
}
.getty-refinement-category .getty-refinement-list {
  height: 0;
  overflow: hidden;
  padding: 0 0 0 .25em;
  margin: 0;
  font-size: .9em;
  line-height: 1.5em;
}
.getty-refinement-category .getty-refinement-category-option {
  display: block;
  font-weight: normal;
  text-decoration: underline;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: #444;
}
.getty-refinement-category .getty-refinement-category-option:hover {
  color: #888;
}
.getty-refinement-category-option a {
  padding: 1px;
  display: block;
  margin-bottom: 2px;
}
.getty-refinement-category-option .count {
  float: right;
  display: inline-block;
}

/* Active items */
.getty-refinement-item {
  line-height: 1.5em;
}
.getty-refinement-item .getty-remove-refinement {
  width: 10px;
  height: 10px;
  background: url(images/xit.gif) no-repeat 0 0;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  text-indent: 11px;
  margin-left: -5px;
}
.getty-refinement-item .getty-remove-refinement:hover {
  background-position: -10px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .getty-refinement-item .getty-remove-refinement {
    background-image: url(images/xit-2x.gif);
    background-size: 20px auto;
    margin-bottom: -0.5px;
  }
}

/* Show list under expanded categories */
.getty-refinement-category.expanded .getty-refinement-list {
  height: auto;
}

/* Toggle refinement */
.getty-refine-toggle {
  display: none;
  float: left;
  background: none;
  border: none;
  color: #666;
  font-weight: bold;
  margin: 0;
  height: 100%;
  line-height: 24px;
  vertical-align: top;
  cursor: pointer;
}
.getty-refine-toggle:hover {
  text-decoration: none;
}
.getty-refine-toggle .getty-refine-toggle-arrow {
  background: url(images/arrows.png) no-repeat -48px center;
  padding-right: 16px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .getty-refine-toggle .getty-refine-toggle-arrow {
    background-image: url(images/arrows-2x.png);
    background-size: 64px auto;
  }
}
.refining .getty-refine-toggle .getty-refine-toggle-arrow {
  background-position: left center;
}
.have-results.have-searched .getty-refine-toggle {
  display: block;
}

/* The user session display */
.getty-user-panel {
  padding: 0 1em;
  z-index: 76;
  position: absolute;
  top: 100%;
  margin-top: 5px;
  min-width: 240px;
  overflow: hidden;
  display: none;
}
.getty-title-link .getty-prompt-login.getty-user-panel {
  display: block;
  overflow: visible;
  max-height: 300px;
  box-shadow: 1px 2px 5px #ddd;
  box-shadow: 1px 4px 12px rgba(0,0,0,.1);
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  max-width: 240px;
  left: -80px;
}
.getty-prompt-login .getty-user-chevron {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ddd;
  position: absolute;
  right: 10em;
  top: -15px;
}
.getty-user-chevron span {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #f5f5f5;
  position: absolute;
  left: -14px;
  top: 1px;
}
.getty-user-session input {
  max-width: 100%;
}
.getty-user-session .getty-images-logout {
  font-weight: bold;
}

/* Individual attachments */
.getty-attachment {
  overflow: hidden;
  position: relative;
  float: left;
  margin: 0 10px 20px;
  color: #464646;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 4.5em;
  line-height: 1.5em;
  -webkit-box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
  box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
  background: #eee;
}
.getty-details,
.getty-attachment:focus {
  -webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 2px #5b9dd9;
  box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 2px #5b9dd9;
  outline: none;
}

.selected.getty-attachment {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ccc;
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ccc;
}

.selected.getty-attachment:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 5px #1e8cbe;
  box-shadow: 0 0 0 1px #fff, 0 0 0 5px #1e8cbe;
}

.getty-attachment-preview {
  position: relative;
  width: 199px;
  height: 199px;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
  box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
  background: #eee;
  cursor: pointer;
}

/* @noflip */
.getty-attachment .getty-thumbnail img {
  top: 0;
  left: 0;
  display: block;
}

/* @noflip */
.getty-thumbnail .getty-centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate( 50%, 50% );
  -ms-transform: translate( 50%, 50% );
  transform: translate( 50%, 50% );
}
.getty-attachment .getty-thumbnail {
  height: 70%;
  position: relative;
}
.getty-attachment .getty-thumbnail .getty-centered img {
  max-height: 100%;
  max-width: 100%;
  -webkit-transform: translate( -50%, -50% );
  -ms-transform: translate( -50%, -50% );
  transform: translate( -50%, -50% );
}
.getty-attachment .getty-image-synopsis .getty-image-collection {
  display: block;
  color: #888;
}
.getty-attachment .getty-image-id {
  font-weight: bold;
}
.getty-images-toolbar .getty-search-results-total {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  padding-right: 1em;
}
.have-searched .getty-images-toolbar .getty-search-results-total {
  display: block;
}

/* Image details panel (sidebar) */
.getty-image-details .getty-thumbnail img,
.getty-image-details .getty-thumbnail {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  float: none;
  clear: both;
  display: block;
  margin: 0 auto .5em;
}
.getty-image-details-list {
  line-height: 1.5em;
}
.getty-image-details-list dt {
  display: inline-block;
  float: left;
  margin: 0 .75em 0 0;
  width: auto;
  text-shadow: 0 1px 0 #fff;
  line-height: inherit;
}
.getty-image-details-list dd {
  display: block;
  margin: 0 .5em 1em;
  color: #333;
  clear: right;
  line-height: inherit;
}
.getty-image-details-list dd .description {
  line-height: inherit;
  font-size: inherit;
}
.getty-image-details-list .getty-keywords .getty-keyword {
  display: inline-block;
}
.getty-image-sizes {
  position: relative;
  clear: both;
  line-height: 1.75em;
  margin-bottom: .25em;
}
.getty-image-sizes dd,
.getty-image-sizes ul {
  margin: 0;
  padding: 0;
}
.getty-image-sizes li {
  display: inline;
  padding: .2em;
}
.getty-download-with {
  margin: 2px;
  padding: 2px;
}
.getty-download-authorizations .getty-download {
  position: relative;
  margin: .5em auto .25;
  min-height: 24px;
}
.getty-download .getty-download-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
}

/* Top-level search form */
.getty-search-toolbar .getty-toolbar-primary {
  /* To contain floated elements */
  float: left;
  width: 100%;
  position: relative;
  padding-top: 50px;
}
.getty-search-toolbar .getty-search-input-container {
  position: absolute;
  top: 0;
  left: 5px;
  right: 95px;
}
.getty-search-toolbar .getty-toolbar-primary {
  padding-top: 40px;
}

.getty-search-toolbar .getty-toolbar-secondary {
  float: none;
  clear: both;
  position: relative;
  background-color: #f0f0f0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding: 0px 5px;
  margin-left: -5px;
  height: 24px;
  line-height: 24px;
  margin-bottom: -1px;
}

.getty-search-toolbar .getty-images-button {
  position: absolute;
  right: 5px;
  top: 0;
  width: 80px;
  text-align: center;
}

/* "Secondary" toolbar shows as gray bar */
.getty-images-toolbar .media-toolbar-secondary {
  float: none;
  position: relative;
  background-color: #f0f0f0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding: 0px 5px;
  margin-left: -5px;
  height: 24px;
  line-height: 24px;
  margin-bottom: -1px;
}
.getty-filter {
  float: left;
  margin: .5em;
}
.getty-filter em {
  display: block;
  font-weight: bold;
  font-size: .9em;
  color: #777;
}
.getty-filter input {
  margin-right: .5em;
}
.getty-filter label {
  margin-right: 1em;
}
.getty-refine-categories {
  margin: 0;
}
.getty-refinement-category {
  margin: .5em 0;
}

/*
* Frame toolbar
*/
.getty-frame-toolbar {
  overflow: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #dfdfdf;
}
.getty-frame-toolbar .getty-toolbar-primary {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  padding: 15px;
  background-color: #fff;
}
.getty-frame-toolbar .getty-toolbar-primary:before {
  position: absolute;
  display: block;
  width: 80px;
  height: 100%;
  left: -80px;
  top: 0;
  content: "";
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.getty-frame-toolbar .getty-toolbar-secondary {
  position: relative;
  z-index: 4;
  height: 100%;
  overflow: hidden;
}
.getty-frame-toolbar .getty-comp-license-container {
  position: absolute;
  bottom: 100%;
  right: 1em;
  background: #fff;
  width: 600px;
  border: 1px solid #ddd;
  padding: 0 1em 3.5em;
  box-shadow: 1px 10px 14px #bbb;
  box-shadow: 1px 10px 14px rgba(0,0,0,.3);
}
.getty-comp-license-container .getty-comp-please-read {
  font-style: italic;
  color: #666;
}
.getty-comp-license-container .getty-comp-license-frame {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 300px;
  overflow: auto;
}
.getty-comp-license-container .getty-comp-buttons {
  position: absolute;
  bottom: .5em;
  right: 0;
}
.getty-comp-buttons .button-primary,
.getty-comp-buttons a {
  margin-right: 1em;
}
.getty-comp-license-container .getty-comp-license-chevron {
  position: absolute;
  right: 16em;
  bottom: -14px;
  width: 0;
  border-top: 15px solid #fff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}
.getty-frame-toolbar .getty-selection .getty-attachment {
  display: block;
  margin: 5px 3px;
}

/* Hide filters that don't make sense. "Image Type" for, 'Editorial',
* "Editorial Sort Order" for 'Creative', "Creative Sort Order" for 'Editorial',
* etc. */
.search-editorial .getty-filter-image-type {
  display: none;
}
.search-creative .getty-filter-editorial-sort-order {
  display: none;
}
.search-editorial .getty-filter-creative-sort-order {
  display: none;
}

/**
* Choose mode
*/
.getty-choose-mode {
  float: left;
  width: 100%;
  height: 100%;
  clear: both;
}
.getty-choose-mode .getty-split-panel {
  width: 50%;
  float: left;
  height: 100%;
}
.getty-split-panel .getty-panel {
  border: 2em solid #fff;
}
.getty-login-mode-panel h1,
.getty-login-mode-panel p {
  padding: 0 13px;
}
.getty-choose-mode .getty-panel {
  padding: 1em;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.getty-panel .getty-panel-content {
  max-width: 350px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
.getty-panel h1 {
  line-height: 1.15em;
  margin-top: 0;
}
.getty-panel .getty-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 0;
  padding-top: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow( -1px 1px 5px #f8f8f8 );
  filter: drop-shadow( -1px 1px 5px #f8f8f8 );
  z-index: 0;
}
.getty-panel:hover .getty-icon {
  color: #ffffff;
}
.getty-choose-mode .getty-user-panel {
  display: block;
  background-color: transparent;
  position: static;
  width: auto;
}
.getty-split-panel .getty-panel:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.getty-choose-mode .getty-user-panel .getty-user-chevron {
  display: none;
}
.getty-choose-mode .getty-user-panel .getty-login-username,
.getty-choose-mode .getty-user-panel .getty-login-password {
  text-align: left;
}
.getty-choose-mode .getty-user-panel .getty-login-username input,
.getty-choose-mode .getty-user-panel .getty-login-password input {
  width: 100%;
}

/**
* Activation tab at the bottom of the screen
*/
.getty-images-tab {
  position: fixed;
  bottom: -1em;
  right: 3em;
  z-index: 20;
  background-color: #fff;
  border: 1px solid #1e8cbe;
  box-shadow: 0px 1px 3px rgba(0,0,0,.7);
  border-bottom: 0;
  border-radius: .25em;
  box-sizing: border-box;
  padding: 1em 1.25em 2em;
  border-radius: .5em;
}
.getty-clipboard-active {
  border-top-left-radius: 0;
}
.getty-images-tab .getty-images-logo {
  width: 100px;
}
.getty-images-tab .getty-images-select {
  background: url(http://developers.gettyimages.com/images/drupal/getty-logo.png) no-repeat center;
  background-size: cover;
  display: block;
  padding-bottom: 17%;
}
.getty-clipboard {
  border: 1px solid #1e8cbe;
  box-shadow: 0px 1px 3px rgba(0,0,0,.7);
  border-bottom: 0;
  display: none;
  position: absolute;
  top: -1px;
  left: -56px;
  bottom: 1em;
  width: 56px;
  transition: all 0.4s;
  border-top-left-radius: .5em;
}
.getty-clipboard a {
  display: block;
  width: 100%;
  height: 100%;
}
.getty-clipboard-active .getty-clipboard {
  display: block;
  -webkit-animation: getty-images-clipboard-activate .8s ease-in-out infinite alternate;
  animation: getty-images-clipboard-activate .8s ease-in-out infinite alternate;
}
.getty-images-tab .filefield-source-remote {
  display: none;
}

@-webkit-keyframes getty-images-clipboard-activate {
  0% {
    box-shadow: 0px 1px 3px rgba(0,0,0,.7);
    background-color: #fff;
    border-color: #1e8cbe;
  }
  100% {
    box-shadow: 0px 1px 10px rgba(228,228,90,1);
    background-color: #ff9;
    border-color: #ff0;
  }
}
@keyframes getty-images-clipboard-activate {
  0% {
    box-shadow: 0px 1px 3px rgba(0,0,0,.7);
    background-color: #fff;
    border-color: #1e8cbe;
  }
  100% {
    box-shadow: 0px 1px 10px rgba(228,228,90,1);
    background-color: #ff9;
    border-color: #ff0;
  }
}

/**
* Tiny bit of responsiveness
*/
@media only screen and (max-width: 1000px) {
  .getty-results {
    font-size: .8em;
    line-height: 1.25em;
  }
}
@media only screen and (max-width: 900px) {
  .getty-frame-toolbar .getty-selection .getty-attachments {
    display: block;
  }
  .getty-images .getty-attachments-browser {
    padding-right: 192px;
  }
  .getty-refine .search-results-refine,
  .have-refinements.refining .getty-refine {
    width: 150px;
  }
  .getty-refine {
    font-size: .8em;
  }
  .have-refinements.refining .getty-results {
    left: 150px;
  }
}

/**
* IcoMoon icon fonts
*/

.icon-image {
  background-image: url(images/image.svg);
}
.icon-unlocked {
  background-image: url(images/unlocked.svg);
}
.icon-clipboard {
  background: transparent url(images/clipboard.svg) no-repeat center;
}
